table {
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
th, td {border: 1px solid grey; padding: 5px;}

.success {
    color: green;
}

.error{
    color: red;
}

a{
    text-decoration: none;
}

.active{
    text-decoration: underline;
}